## HW 1 is due on 02/01/2024 at 11:59 PM
## Instructions

1) Label your homework solutions with your ISU idnumber ( first 4 digits), such as HW1_Solutions_3938. This HW will be peer + Instructor graded.

2) Deliverables: You need to submit 3 files.
* ipython notebook file with all of your solutions and codes
* HTML file of your ipython notebook file.
* Your HW solution in a pdf file. Please write this part of the solution in a research paper format: Give a proper title, solve each problems and write findings so that you tell a story with the data set you have and the problems you need to solve. Attach plots, figures,  wherever necessary. 
 
3) Special instructions on how to solve the HW problems.
* For each problem, begin by solving it independently to the best of your ability. You can use ChatGPT, Google Bard, or other AI tools to seek hints, guidance, or alternative approaches to the problems. Engage these AI tools to enhance your understanding and explore different solution strategies.

* After completing all the problems, reflect on your experience by summarizing how you used ChatGPT/Bard or other AI tools, the specific problems you sought help with, and the valuable insights they offered. Discuss the strengths and limitations of both your initial solutions and the AI-generated ones for each of the problems. This integrated approach helps you leverage AI's power while refining your own analytical skills. It's not just about getting the answer; it's about learning through the process!

4) To submit your homework solutions, go to our course in Canvas --> Assignments --> HW 1 --> Submit Assignment --> Click "Choose File" --> choose the HTML file you saved --> Click another file--> choose ipynb file--> Repeat this process to add a pdf file--submit. Once you submit, download and check to ensure that you have submitted the correct files.

5) <font color='red'> WARNING: Your submission will be compared against other students' solutions and online databases to check for plagiarism. Disclosure of this assignment and assignment answers to anybody or any website is a contributory infringement of academic dishonesty at ISU. Do not share or post course materials without the express written consent of the copyright holder and instructor. The class will follow Iowa State Universityâ€™s policy on academic dishonesty. Anyone suspected of academic dishonesty will be reported to the Dean of Students Office.</font>

## Points:  $\bf 20\times 5  = 100$

We will be using the Iowa Liquor Sales Data Set. Please go to https://data.iowa.gov/Sales-Distribution/Iowa-Liquor-Sales/m3tr-qhgy/data_preview and download the Iowa Liquor Sales data set. It may take some time for you to download, upload, and process the functions based on your internet speed and computer, as it is a big data set with several million rows. When you do the following problems, you may run into issues related to the computer memory, time etc. Sampling data randomly by taking any fraction of the data from 30% to 100% based on how much your computer can handle is okay. Some numerical answers may be different for different students because of the sampling above ( which is fine with me), but the process is more important for you to go through for this homework.

### Problem 1. 
Upload the Iowa Liquor Sales ( ILS) Data Set (and do the following. 
* Show the head and the tail of the data set. Find the dimension of the data set. What % did you have to sample( if any)? 
* Do all the columns( variables) have correct data type labels? If not, find out which ones do not and correct their daya types. 
* Find out how many missing values each of the columns has. For the rest of the columns with missing values, imput in the missing values by the mode of each column.
* Make a list of all the remaining columns. Read the Python Enhancement Proposal (https://peps.python.org/pep-0008/#function-and-variable-names) and use the variable naming convention to change the names of the columns of the data.
* Extract the year, month, and days of the week (i.e., Sunday, Monday, etc) and add the corresponding columns to the data with appropriate column names.

( When you do all the above with the ILS data, you can rename it to anything you like or keep it the same.)

In [1]:
import pandas as pd
import numpy as np
import re

# Set pandas to display all columns
pd.set_option('display.max_columns', None)

In [2]:
# ILS data location
ils_data_loc = "/Users/gabrielvictorgomesferreira/Library/Mobile Documents/com~apple~CloudDocs/Work/ISU Classes/MIS 546 - Advanced Business Analytics/Data/ils30.csv"

# Read data
ils_data = pd.read_csv(ils_data_loc)
ils_data_sample = ils_data.sample(frac=0.3, random_state=42)

/var/folders/wp/7bp3qrzx7dx95tf0806th2rw0000gn/T/ipykernel_40939/1253914039.py:5: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  ils_data = pd.read_csv(ils_data_loc)

In [3]:
# ils_data_sample = ils_data.sample(frac=0.3, random_state=42)

In [4]:
# ils_data_sample = ils_data_sample_copy.copy()

### Show the head and the tail of the data set. Find the dimension of the data set. What % did you have to sample( if any)?

In [5]:
# Head of the data
ils_data_sample.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
1956169,RINV-05018600024,12/11/2023,4698,QUALITY QUICK STOP / FAIRFIELD,201 WEST BURLINGTIN AVE.,FAIRFIELD,52556,POINT (-91.965393979 41.006794),NaN,JEFFERSON,1022200.0,100% AGAVE TEQUILA,619.0,CAMPARI AMERICA,87619,ESPOLON BLANCO,12,750,16.00,24.00,-6,-144.00,-4.50,-1.18
7424748,S27341700031,08/17/2015,2487,ANAMOSA FAMILY FOODS,402 EAST MAIN,ANAMOSA,52205,POINT (-91.281344 42.108275),53.0,JONES,1062300.0,FLAVORED RUM,35.0,"BACARDI U.S.A., INC.",43137,BACARDI LIMON,12,1000,9.50,14.25,3,42.75,3.00,0.79
4761513,S06461900038,07/09/2012,2622,HY-VEE FOOD STORE / IOWA CITY,1125 N DODGE ST,IOWA CITY,52240,POINT (-91.518868 41.676095),52.0,JOHNSON,1012100.0,CANADIAN WHISKIES,65.0,JIM BEAM BRANDS,15248,WINDSOR CANADIAN PET,6,1750,8.92,13.38,6,80.28,10.50,2.77
6956398,INV-07548000052,10/02/2017,4559,OSAGE PAYLESS FOODS,633 CHASE ST,OSAGE,50461.0,POINT (-92.811539 43.285134),66.0,MITCHELL,1041100.0,AMERICAN DRY GINS,55.0,SAZERAC NORTH AMERICA,30056,FLEISCHMANN'S GIN,12,750,3.32,4.98,1,4.98,0.75,0.20
5897768,S17673000080,03/03/2014,2588,HY-VEE FOOD AND DRUG #6 / CEDAR RAPI,4035 MT. VERNON ROAD S.E.,CEDAR RAPIDS,52403,POINT (-91.60978 41.976835),57.0,LINN,1031200.0,VODKA FLAVORED,260.0,DIAGEO AMERICAS,41715,SMIRNOFF CRANBERRY VODKA,12,750,8.25,12.37,3,37.11,2.25,0.59

In [6]:
# Tail of the data
ils_data_sample.tail()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
7904024,INV-43995500016,01/21/2022,5425,SPIRITS LIQUOR / GRIMES,109 E 1ST ST. # B,GRIMES,50111.0,NaN,77.0,POLK,1701100.0,TEMPORARY & SPECIALTY PACKAGES,578.0,S&B FARMS DISTILLERY,26231,SIR WINSTON WHEAT,6,750,21.23,31.85,2,63.70,1.50,0.39
1404882,INV-59311300009,06/12/2023,10120,BP / WELTON,2576 190TH STREET,WELTON,52774.0,POINT (-90.591619998 41.902480988),NaN,CLINTON,1062500.0,FLAVORED RUM,370.0,PERNOD RICARD USA,42676,MALIBU PASSION FRUIT,12,750,8.99,13.49,3,40.47,2.25,0.59
7321015,INV-12003100025,05/10/2018,4091,FAREWAY STORES #705 / CLEAR LAKE,910 HWY 18 W,CLEAR LAKE,50428.0,POINT (-93.613385 43.105949),17.0,CERRO GORDO,1011600.0,STRAIGHT RYE WHISKIES,255.0,INFINIUM SPIRITS,27102,TEMPLETON 4YR RYE,6,750,18.09,27.14,3,81.42,2.25,0.59
7478538,INV-20506500014,07/09/2019,5054,CORK 'N BOTTLE / MANCHESTER,900 E MAIN ST,MANCHESTER,52087.0,POINT (-91.445038 42.484073),28.0,DELAWARE,1031100.0,AMERICAN VODKAS,55.0,SAZERAC NORTH AMERICA,35948,FLEISCHMANN'S ROYAL VODKA 80 PRF,6,1750,6.50,9.75,6,58.50,10.50,2.77
2572358,INV-13464600021,07/26/2018,2130,SYCAMORE CONVENIENCE,617 SYCAMORE,WATERLOO,50703.0,POINT (-92.335358 42.497854),7.0,BLACK HAWK,1041100.0,AMERICAN DRY GINS,55.0,SAZERAC NORTH AMERICA,29287,BARTON GIN,12,1000,3.92,5.88,12,70.56,12.00,3.17

In [7]:
# Dimension of the data
ils_data_sample.shape

(2535874, 24)

### Do all the columns( variables) have correct data type labels? If not, find out which ones do not and correct their data types.

In [8]:
# Print data type of the columns
print(ils_data_sample.dtypes)

Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number               object
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

In [9]:
## Co3rrecting column data types:
# Date: Converting from object to datetime.
# Store Location: Currently an unusable object, will split into two columns: 'latitude' and 'longitude'.
# County Number: Converting from float to integer.
# Category: Converting from float to integer.
# Vendor Number: Converting from float to integer.
 
## Apply data type changes

# To Integer
for col in ["County Number", "Category", "Vendor Number"]:
    ils_data_sample[col] = ils_data_sample[col].astype("Int64")

# To datetime
ils_data_sample['Date'] = pd.to_datetime(ils_data_sample['Date'])

# Split into lat and long
ils_data_sample['coordenates'] = ils_data_sample['Store Location'].str.extract(r'POINT \(([^)]+)\)')
ils_data_sample[['latitude', 'longitude']] = ils_data_sample['coordenates'].str.split(' ', expand=True).astype(float)
ils_data_sample = ils_data_sample.drop(columns='coordenates')

# Print data type of the columns
print(ils_data_sample.dtypes)

Invoice/Item Number              object
Date                     datetime64[ns]
Store Number                      int64
Store Name                       object
Address                          object
City                             object
Zip Code                         object
Store Location                   object
County Number                     Int64
County                           object
Category                          Int64
Category Name                    object
Vendor Number                     Int64
Vendor Name                      object
Item Number                      object
Item Description                 object
Pack                              int64
Bottle Volume (ml)                int64
State Bottle Cost               float64
State Bottle Retail             float64
Bottles Sold                      int64
Sale (Dollars)                  float64
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
latitude                        float64
longitude                       float64
dtype: object

In [10]:
ils_data_sample.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),latitude,longitude
1956169,RINV-05018600024,2023-12-11,4698,QUALITY QUICK STOP / FAIRFIELD,201 WEST BURLINGTIN AVE.,FAIRFIELD,52556,POINT (-91.965393979 41.006794),<NA>,JEFFERSON,1022200,100% AGAVE TEQUILA,619,CAMPARI AMERICA,87619,ESPOLON BLANCO,12,750,16.00,24.00,-6,-144.00,-4.50,-1.18,-91.965394,41.006794
7424748,S27341700031,2015-08-17,2487,ANAMOSA FAMILY FOODS,402 EAST MAIN,ANAMOSA,52205,POINT (-91.281344 42.108275),53,JONES,1062300,FLAVORED RUM,35,"BACARDI U.S.A., INC.",43137,BACARDI LIMON,12,1000,9.50,14.25,3,42.75,3.00,0.79,-91.281344,42.108275
4761513,S06461900038,2012-07-09,2622,HY-VEE FOOD STORE / IOWA CITY,1125 N DODGE ST,IOWA CITY,52240,POINT (-91.518868 41.676095),52,JOHNSON,1012100,CANADIAN WHISKIES,65,JIM BEAM BRANDS,15248,WINDSOR CANADIAN PET,6,1750,8.92,13.38,6,80.28,10.50,2.77,-91.518868,41.676095
6956398,INV-07548000052,2017-10-02,4559,OSAGE PAYLESS FOODS,633 CHASE ST,OSAGE,50461.0,POINT (-92.811539 43.285134),66,MITCHELL,1041100,AMERICAN DRY GINS,55,SAZERAC NORTH AMERICA,30056,FLEISCHMANN'S GIN,12,750,3.32,4.98,1,4.98,0.75,0.20,-92.811539,43.285134
5897768,S17673000080,2014-03-03,2588,HY-VEE FOOD AND DRUG #6 / CEDAR RAPI,4035 MT. VERNON ROAD S.E.,CEDAR RAPIDS,52403,POINT (-91.60978 41.976835),57,LINN,1031200,VODKA FLAVORED,260,DIAGEO AMERICAS,41715,SMIRNOFF CRANBERRY VODKA,12,750,8.25,12.37,3,37.11,2.25,0.59,-91.609780,41.976835

#### What % did you have to sample( if any)?
I sampled 30% of the dataset and used the random_state functionality for reproducibility.

### Find out how many missing values each of the columns has. For the rest of the columns with missing values, imput in the missing values by the mode of each column.

In [11]:
# Finding how many missing values each column has
missing_values = ils_data_sample.isnull().sum()
missing_values = missing_values[missing_values > 0]
print(missing_values)

Address             7488
City                7488
Zip Code            7494
Store Location    225184
County Number     363685
County             14484
Category            1452
Category Name       2173
Vendor Number          1
Vendor Name            1
latitude          225184
longitude         225184
dtype: int64

In [12]:
ils_data_sample["Address"].mode()[0]

'3221 SE 14TH ST'

In [13]:
# Filling missing values of each column with its mode
for col in missing_values.index:
    mode_val = ils_data_sample[col].mode()[0]
    ils_data_sample[col] = ils_data_sample[col].fillna(mode_val)

# Check if there's any missing values left
missing_values = ils_data_sample.isnull().sum()
print(missing_values)

Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
latitude                 0
longitude                0
dtype: int64

### Make a list of all the remaining columns. Read the Python Enhancement Proposal (https://peps.python.org/pep-0008/#function-and-variable-names) and use the variable naming convention to change the names of the columns of the data.

In [14]:
# List of column names
ils_data_sample.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)',
       'latitude', 'longitude'],
      dtype='object')

In [15]:
import re

# Create function to format the column names
def format_column(col_name):

    # Convert to lower case
    col_name = col_name.lower()

    # Convert anything that is not in A-Z | 0-9 to _
    col_name = re.sub(r'[^a-z0-9]+', '_', col_name).strip("_")

    return col_name

# Apply function
ils_data_sample.columns = [format_column(col) for col in ils_data_sample.columns]

# List with updated column names
ils_data_sample.columns

Index(['invoice_item_number', 'date', 'store_number', 'store_name', 'address',
       'city', 'zip_code', 'store_location', 'county_number', 'county',
       'category', 'category_name', 'vendor_number', 'vendor_name',
       'item_number', 'item_description', 'pack', 'bottle_volume_ml',
       'state_bottle_cost', 'state_bottle_retail', 'bottles_sold',
       'sale_dollars', 'volume_sold_liters', 'volume_sold_gallons', 'latitude',
       'longitude'],
      dtype='object')

In [16]:
ils_data_sample.head()

,invoice_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,category,category_name,vendor_number,vendor_name,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons,latitude,longitude
1956169,RINV-05018600024,2023-12-11,4698,QUALITY QUICK STOP / FAIRFIELD,201 WEST BURLINGTIN AVE.,FAIRFIELD,52556,POINT (-91.965393979 41.006794),77,JEFFERSON,1022200,100% AGAVE TEQUILA,619,CAMPARI AMERICA,87619,ESPOLON BLANCO,12,750,16.00,24.00,-6,-144.00,-4.50,-1.18,-91.965394,41.006794
7424748,S27341700031,2015-08-17,2487,ANAMOSA FAMILY FOODS,402 EAST MAIN,ANAMOSA,52205,POINT (-91.281344 42.108275),53,JONES,1062300,FLAVORED RUM,35,"BACARDI U.S.A., INC.",43137,BACARDI LIMON,12,1000,9.50,14.25,3,42.75,3.00,0.79,-91.281344,42.108275
4761513,S06461900038,2012-07-09,2622,HY-VEE FOOD STORE / IOWA CITY,1125 N DODGE ST,IOWA CITY,52240,POINT (-91.518868 41.676095),52,JOHNSON,1012100,CANADIAN WHISKIES,65,JIM BEAM BRANDS,15248,WINDSOR CANADIAN PET,6,1750,8.92,13.38,6,80.28,10.50,2.77,-91.518868,41.676095
6956398,INV-07548000052,2017-10-02,4559,OSAGE PAYLESS FOODS,633 CHASE ST,OSAGE,50461.0,POINT (-92.811539 43.285134),66,MITCHELL,1041100,AMERICAN DRY GINS,55,SAZERAC NORTH AMERICA,30056,FLEISCHMANN'S GIN,12,750,3.32,4.98,1,4.98,0.75,0.20,-92.811539,43.285134
5897768,S17673000080,2014-03-03,2588,HY-VEE FOOD AND DRUG #6 / CEDAR RAPI,4035 MT. VERNON ROAD S.E.,CEDAR RAPIDS,52403,POINT (-91.60978 41.976835),57,LINN,1031200,VODKA FLAVORED,260,DIAGEO AMERICAS,41715,SMIRNOFF CRANBERRY VODKA,12,750,8.25,12.37,3,37.11,2.25,0.59,-91.609780,41.976835

### Extract the year, month, and days of the week (i.e., Sunday, Monday, etc) and add the corresponding columns to the data with appropriate column names.

In [17]:
# Extract date features
ils_data_sample['year'] = ils_data_sample['date'].dt.year
ils_data_sample['month'] = ils_data_sample['date'].dt.month
ils_data_sample['day'] = ils_data_sample['date'].dt.day
ils_data_sample['day_name'] = ils_data_sample['date'].dt.day_name()

ils_data_sample.tail()

,invoice_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,category,category_name,vendor_number,vendor_name,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons,latitude,longitude,year,month,day,day_name
7904024,INV-43995500016,2022-01-21,5425,SPIRITS LIQUOR / GRIMES,109 E 1ST ST. # B,GRIMES,50111.0,POINT (-93.596754 41.554101),77,POLK,1701100,TEMPORARY & SPECIALTY PACKAGES,578,S&B FARMS DISTILLERY,26231,SIR WINSTON WHEAT,6,750,21.23,31.85,2,63.70,1.50,0.39,-93.596754,41.554101,2022,1,21,Friday
1404882,INV-59311300009,2023-06-12,10120,BP / WELTON,2576 190TH STREET,WELTON,52774.0,POINT (-90.591619998 41.902480988),77,CLINTON,1062500,FLAVORED RUM,370,PERNOD RICARD USA,42676,MALIBU PASSION FRUIT,12,750,8.99,13.49,3,40.47,2.25,0.59,-90.591620,41.902481,2023,6,12,Monday
7321015,INV-12003100025,2018-05-10,4091,FAREWAY STORES #705 / CLEAR LAKE,910 HWY 18 W,CLEAR LAKE,50428.0,POINT (-93.613385 43.105949),17,CERRO GORDO,1011600,STRAIGHT RYE WHISKIES,255,INFINIUM SPIRITS,27102,TEMPLETON 4YR RYE,6,750,18.09,27.14,3,81.42,2.25,0.59,-93.613385,43.105949,2018,5,10,Thursday
7478538,INV-20506500014,2019-07-09,5054,CORK 'N BOTTLE / MANCHESTER,900 E MAIN ST,MANCHESTER,52087.0,POINT (-91.445038 42.484073),28,DELAWARE,1031100,AMERICAN VODKAS,55,SAZERAC NORTH AMERICA,35948,FLEISCHMANN'S ROYAL VODKA 80 PRF,6,1750,6.50,9.75,6,58.50,10.50,2.77,-91.445038,42.484073,2019,7,9,Tuesday
2572358,INV-13464600021,2018-07-26,2130,SYCAMORE CONVENIENCE,617 SYCAMORE,WATERLOO,50703.0,POINT (-92.335358 42.497854),7,BLACK HAWK,1041100,AMERICAN DRY GINS,55,SAZERAC NORTH AMERICA,29287,BARTON GIN,12,1000,3.92,5.88,12,70.56,12.00,3.17,-92.335358,42.497854,2018,7,26,Thursday

( When you do all the above with the ILS data, you can rename it to anything you like or keep it the same.)

In [27]:
# Small frac of the data
ils_data_sample_frac = ils_data_sample.sample(frac=0.001, random_state=42)

In [28]:
import os

# Declare data directory
directory = '../../data/'

# Check if directory exists, if not, create it
if not os.path.exists(directory):
    os.makedirs(directory)

ils_data_sample_frac.to_csv(directory + "ils30_one_third.csv")

In [19]:
# # Sampling the dataset 
# ils_data_sample = ils_data.sample(frac=0.3, random_state=42)

# # To Integer
# for col in ["County Number", "Category", "Vendor Number"]:
#     ils_data_sample[col] = ils_data_sample[col].astype("Int64")

# # To datetime
# ils_data_sample['Date'] = pd.to_datetime(ils_data_sample['Date'])

# # Split into lat and long
# ils_data_sample['coordenates'] = ils_data_sample['Store Location'].str.extract(r'POINT \(([^)]+)\)')
# ils_data_sample[['latitude', 'longitude']] = ils_data_sample['coordenates'].str.split(' ', expand=True).astype(float)
# ils_data_sample = ils_data_sample.drop(columns='coordenates')

# # Filling missing values of each column with its mode
# for col in missing_values.index:
#     mode_val = ils_data_sample[col].mode()[0]
#     ils_data_sample[col] = ils_data_sample[col].fillna(mode_val)

# # Create function to format the column names
# def format_column(col_name):

#     # Convert to lower case
#     col_name = col_name.lower()

#     # Convert anything that is not in A-Z | 0-9 to _
#     col_name = re.sub(r'[^a-z0-9]+', '_', col_name).strip("_")

#     return col_name

# # Apply function
# ils_data_sample.columns = [format_column(col) for col in ils_data_sample.columns]

# # Extract date features
# ils_data_sample['year'] = ils_data_sample['date'].dt.year
# ils_data_sample['month'] = ils_data_sample['date'].dt.month
# ils_data_sample['day'] = ils_data_sample['date'].dt.day
# ils_data_sample['day_name'] = ils_data_sample['date'].dt.day_name()

### Problem 2. 
Continuing with the cleaned data set you obtained in problem 1, do the following.
* The data should have 99 counties from Iowa. How do you verify this? If there is something wrong with the number of counties, fix it.
* What is the average profit margin (percentage) for each sale? Could you explain how you find it?
* Which day and month do Iowans frequent Liquor stores the most number of times? Has this changed over the years?
* The news  (https://k923.fm/which-iowa-counties-excessively-drink-the-most-alcohol/) reported in August 2023 that:  
"Both Dubuque and Buchanan counties reported having 27% of adults who are considered to be excessive drinkers. Both these eastern Iowa counties beat out the state average by 2%. Some counties weren't too far behind as Palo Alto, Boone, Carroll, Chickasaw, Winneshiek, and Lee, all reported 26% of adults being excessive drinkers."  
If you were to verify this using the ILS data you have, how do you go about it? Explain and prove the above, True or False.
* What are the top three selling Vodkas, Whiskies, and flavored liquors ( Liqueurs and Cordials) by year?

### Problem 3. 
Continuing with the data set obtained in problem 1, solve the following. These problems involve plotting. Make sure to use proper titles, labels, legends, and plot size to make your plot better.
* Analyze annual trends in average and median liquor sales in Iowa from 2012 to 2023. Use line charts to visualize changes over the years. Investigate the impact of the COVID-19 pandemic on sales during 2019-2021.

* How do the monthly patterns of liquor sales in Iowa vary when visualizing the total volume sold (in Liters) with a horizontal bar plot? Furthermore, what insights can be gained from a vertical bar plot depicting the distribution of average sales (in Dollars) by days? 
* Discover the top 10 counties in Iowa with the highest and lowest number of bottles sold. Use a pie chart to visualize the distribution, providing insights into both significant contributors and areas with lower sales among the counties.
* Create a scatter plot visualizing the relationship between 'State Bottle Retail' and 'Volume Sold (Gallons)' in Iowa liquor sales. Explore the correlation between these two columns to understand if and how they are related. 
* Let $Q1, Q3,$ and $IQR$ be the first quartile, third quartile and the interquartile range. Any data point lower than $Q1 - 1.5 IQR$ or higher than $Q3 + 1.5 IQR$ is an outlier. Using this formula, find two numerical variables that have the highest number of outliers. Use the box plot to verify that what you just saw is correct.

### Problem 4. 
Utilize the cleaned data from Problem 1 for this problem. Use the columns listed below with their updated names listed below to filter the data before proceeding.

* If you want to make a linear regression model, how do you designate the target variable (y) and determine the features (x) in the data you just created? Explain your rationale. Explore and explain also the categorical variables that can be used in the regression model by using dummy coding techniques.

* Based on your considerations in part a, make a regression model by selecting features and targets using your preferred method (OLS, Decision Tree, SVM, Random Forest, KNN). Feature selection may involve criteria such as p-values or correlation. Allocate 25% of the data for testing. Provide the training and testing R-squared values and RMSE.

* With the data above in this problem, use the "Category Name" column and extract the top 5 category names from the data. Remove all the rows that do not have these top 5 category names. This column serves as the target variable for the classification model you will be making. For features, use those used in the regression above and adjust based on your analysis.

* Make a classification model with "Category Name" as the target variable, using one of the ML methods of your choice (Decision Tree, SVM, Random Forest, KNN). Allocate 25% of the data for testing. Report training and testing accuracy scores. Generate a heatmap of the confusion matrix for the testing data.

* What methods and techniques can you think of if you want to improve the scores and metrics in parts 2 and 4 above? There is no need to make any model here.

In [20]:
columns = ['Zip Code', 'County','Category Name', 'Vendor Name', 
           'Item Description', 'Pack', 'Bottle Volume (ml)',
           'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
           'Sale (Dollars)', 'Volume Sold (Liters)', 
           'Volume Sold (Gallons)','Year', 'Month', 'Day']

### Problem 5. 
You will use the data from problem 4 for this problem. Remove all categorical columns and retain only numerical columns for clustering.

* Determine the optimal number of clusters by emploing methods like the elbow method or silhouette analysis to identify the optimal number of clusters. Clearly explain the reasoning behind your choice of the optimal number.

* Create a K-means clustering model by utilizing the optimal number of clusters from step 1. Implement random seeding to ensure the reproducibility of cluster labels.

* Append a new column named "Clusters" containing the assigned cluster labels for each data point to the cleaned dataset ( from problem 1).

* Discover five new previously unknown insights about the ILS data using the cluster labels along with other relevant columns (e.g., Month, Day, Year, Category Name, Zip Codes, Price, and quantity-related columns).

* Explain the absence of the test-train split method and the accuracy scores in the clustering model you just made. Compare and contrast clustering's unsupervised nature with the supervised approaches of regression and classification.

In [21]:
# Your solution code goes here. Add more cells as needed.

In [22]:
# Use this cell to reflect on this HW. Also explain the extent of
# AI tools use you made in each of the problem above.